//變數

// colors
$primary: #aa0601;
$secondary: #650300;
$info: #FBF2F2;
$dark: #000;
$light: #FBF2F2;
$shadow: #DEE2E6;


//spacing
.mb-4{
    margin-bottom: 16px;
}
.mb-6{
    margin-bottom: 24px;
}
.mr-2{
    margin-right: 8px;
}
.mr-5{
    margin-right: 20px;
}
.mr-8{
    margin-right: 32px;
}

// flex
.d-flex{
    display: flex;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.align-item-center{
    align-items: center;
}
// bd
.border{
    width: 100%;
    border: 1px solid #000;
}
.border_left{
    border-left: 1px solid #DCDCDC;
}
.border_right{
    border-right: 1px solid #DCDCDC;
}
.border_bottom{
    border-bottom: 4px solid $primary;
}
.border_bottom_transparent{
    border-bottom: 4px solid transparent;
}

